* {
    padding: 0px;
    margin: 0px;
}

/* body css */
body {
    background-color: cornsilk;
    background-image: url("../images/site_bg.jpg");
    background-size: contain;
}

/* Nav bar css */
.nav_bar {
    position: fixed;
    display: block;
    background-color: rgb(31, 5, 5);
    padding: 12px;
    height: 40px;
    top: 0px;
    width: 97vw;
}

.right ul {
    display: inline-block;
}

.list_item a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 21px;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20%;
}

.list_item a:hover {
    color: rgb(249, 179, 151);
}

.list_item {
    display: inline-block;
}

.left img {
    width: 50px;
    border-radius: 50px;
    position: relative;
    left: -96px;
    top: -8px;
}

.left {
    display: flex;
    color: cornsilk;
    height: 42px;
    margin: auto;
    padding: 2px 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}


.right {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 0px;
}

.right hr {
    display: inline;
    width: 7px;
    height: 5px;
    margin: 1px;
}
/* background image css */

.poster{
    z-index: -1;
    margin: 36px;
    position: relative;
    top: 78px;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.poster img{
    opacity: 0.9;
    height: 506px;
    margin: 14px 0px;
    border-radius: 19px;
}

.main_para {
    z-index: -1;
    background-color: #eaeaed;
    margin: 40px;
    position: absolute;
    padding: 45px;
    top: 143px;
    height: 343px;
    border-radius: 0px 0px 10px 10px;
}

.main_para h2 {
    font-size: 40px;
    color: #4e4a9a;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 16px;
}

.main_para p {
    line-height: 22px;
    word-spacing: 3px;
    font-size: 20px;
    text-align: justify;
    margin: 6px 14px;
    padding: 15px 0px;
}

/* footer css */

footer{
    background-color: rgb(31, 5, 5);
    color: antiquewhite;
    display: flex;
    margin: 46px auto;
    position: absolute;
    bottom: initial;
    padding: 11px;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: row;
    width: 97vw;
}

.foot{
    display: flex;
    font-size: 18px;
}

.foot ul li{
    list-style: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 2px 5px;
    border-left: 1px solid white;
}

.foot ul li a:hover{
    color: rgb(248, 231, 171);
    text-shadow: 0px 2px 2px white;
}

.foot li a{
    text-decoration:none;
    color: aliceblue;
    padding: 0px 30px;
}
